.single_container {
    .btn {
        border: none;
        background-color: #AB7A5F;
        color: rgb(238, 221, 221);
        margin-left: 2%;
        font-size: 16px;
        width: 210px;
        padding: 5px 20px;

        &:hover {
            color: black;
            background-color: #ebb99e;
        }
    }

    .button_compound {
        background-color: #AB7A5F;
        border: none;
        padding: 10px 20px;
        color: rgb(252, 252, 252);
        margin-left: 6%;

        &:hover {
            color: black;
            background-color: #ebb99e;
        }
    }


    .single_content {
        display: flex;
        flex-direction: row;

        .image_container {
            width: 50%;
            padding-left: 6%;
            object-fit: contain;

            .img {
                width: 553px;
                height: 500px;
                border-radius: 1%;
            }

            .sub_image_container {
                margin-bottom: 10%;
                display: flex;
                flex-direction: row;

            }

            .smallimg {
                position: relative;
                margin: 1.3%;
                justify-content: space-around;
                border-radius: 5px;
                left: -1.6%;
                top: -30px;
                width: 98px;
                height: 75px;
            }

        }

        .img {
            width: 60%;
            height: 500px;
            margin-bottom: 5%;
            margin-top: 5%;
        }

        .details_container {
            width: 50%;

            h2 {
                position: relative;
                bottom: 5%;
                color: #AB7C79;
                font-weight: normal;
            }

            h4 {
                font-size: 32px;
                text-transform: capitalize;
                color: #102a42;
            }

            span {
                position: relative;
                bottom: 5%;
            }

            p {
                color: #164368;
                line-height: 2;
                width: 85%;

            }

            h3 {
                color: #164368;
                text-transform: capitalize;
                font-weight: normal;
            }

            label {
                margin-right: 10%;
            }


        }

        .hr_tag {
            border: bottom 0.1% #bcccdc;
            width: 80%;
            margin-left: 0%;

        }

        .color_btn {
            margin: 1%;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: none;
            opacity: 0.6;
            cursor: pointer;

        }
    }

    @media(max-width:768px) {
        .single_content {
            display: flex;
            flex-direction: column;

            .image_container {
                .img {
                    width: 300px;
                    height: 300px;
                }

                .smallimg {
                    width: 47px;
                    height: 50px;
                    left: -8%;
                    top: -0px;
                    margin-left: 7.5%;
                }
            }

            .details_container {
                text-align: center;
               

                h4 {
                    font-size: 28px;
                    width: 200px;

                }
            }
        }

    }
}

.quantity_container {
    width: 100px;
    display: flex;
    flex-direction: row;

    button {
        border: none;
        background-color: transparent;
        font-weight: 600;
        font-size: 32px;
        color: #102A42;
    }

    span {
        font-size: 32px;
        font-weight: 600;
        color: #102A42;
    }


}

.cart_btn {
    background-color: #AB7A5F;
    border: none;
    padding: 10px 35px;
    color: rgb(252, 252, 252);
    margin-top: 10px;
    border-radius: 5px;

    &:hover {
        color: black;
        background-color: #ebb99e;
    }
}

h3 {
    text-transform: capitalize;
}