
.shipping_container {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    .ship_content {
        color: #102A42;


        .check_box {
            margin-left: 60px;
        }
    }
}