.about_continar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.pic_content {
    width: 50%;
    padding-left: 5vw;
    margin-bottom: 7%;
}

.detail_content {
    width: 50%;
    color: #588494;
    word-spacing: 5px;
    line-height: 200%;

    h2 {
        color: #102A42;
        font-size: 36px;
    }

    .underline {
        border-bottom: 3px solid #ab7a5f;
        padding-bottom: 2px;
        width: 2px;


    }
}

.head_continar {
    background-color: #eaded7;
    width: 100%;
    height: 20vh;
    position: relative;
    top: -40px;

    a {
        text-decoration: none;
        color: #795744;
        font-family: 700;
        font-size: 32px;
    }

    a:hover {

        color: #884d2a;
    }

    h3 {
        color: #461d05;
        font-size: 32px;
        margin-left: 5%;
        padding-top: 3%;
    }
}