.header_content {
    display: grid;
    grid-template-columns: 316px 1fr 1fr 1fr auto;
    align-items: center;
    width: 1172px;
    height: 32px;
    justify-items: center;
    margin-bottom: 3%;
    margin-left: 3.2%;

    h5 {

        color: #617F98;
        font-weight: 400;
        font-size: 18px;
        width: 22%;
    }
}

.hr_tag {
    width: 95%;
    border-top: 1px solid #617F98;
    margin-bottom: 2%;
    opacity: .4;
}

.cart_container {
    width: 100%;
    display: grid;
    grid-template-columns: .9fr 0.8fr 0.6fr 0.5fr auto;
    align-items: center;
    grid-template-rows: 100px;
    margin-bottom: 6%;

    .img_cart_container {
        width: 20%;
        display: flex;
        flex-direction: row;
        margin-left: 20%;

        p {
            white-space: nowrap;
            font-size: 14px;
            text-transform: capitalize;
            margin-left: 3px;
            font-weight: 500;
            color: #262A42;
        }

        span {
            color: #717694;
            justify-content: center;
            font-size: 14px;
            white-space: nowrap;

        }

        button {
            width: 12px;
            height: 12px;
            border-radius: 25%;
        }

        img {
            border-radius: 5px;
            object-fit:cover;
            width: 350px;
        }
    }

    .price_cointainer {
        width: 20%;
        color: #B37C5F;

    }

    .cart_toggle {
        width: 20%;
        display: flex;
        flex-direction: row;

        p {
            font-size: 32px;
            color: #102A42;
        }

        button {
            border: none;
            background-color: transparent;
            font-size: 32px;
        }
    }

    .sub_total {
        width: 20%;
    }

    .delet_container {
        width: 20%;
        align-items: center;
    }
}



.fill_tag {
    font-size: 24px;
    color: #102A42;
    padding: 0% 13.42% 26.8% 13.42%;
    margin-left: 20%;

    Button {
        background-color: #AB7A5F;
        color: whitesmoke;
        border: none;
        padding: 10px 20px;
        margin-left: 20%;
        margin-top: -15%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #B99179;
            color: black;

        }
    }
}

.total_container {
    margin-left: 60%;
    width: 26%;
    height: fit-content;
    border: 1px solid #617F98;
    padding: 20px 40px;


    hr {
        border-top: 1px solid #617F98;
    }

    h4 {
        color: #234766;
        opacity: 0.6;
    }

    h2
    {
        color: #102A42;

        span {
            margin-left: 3.8%;
        }
    }
    h3{
        color: #102A42;

        span{
            margin-left: 16.5%;
        }
    }

    h4 span {
        margin-left: 12%;
    }

}

.signin_button {
    border: none;
    margin-top: 1%;
    margin-bottom: 5%;
    background-color: #AB7A5F;
    color: whitesmoke;
    padding: 10px;
    margin-left: 60%;
    width: 32.5%;
    cursor: pointer;

    &:hover {
        background-color: #B99179;
        color: black;

    }

}

.continue_btn {
    border: none;
    background-color: #AB7A5F;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 2%;

}

.shop_btn {
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 68%;
    border: none;
    background-color: black;
    margin-bottom: 3%;

}

.color_btn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    margin: 4%;

}