.header_content {
    display: flex;
    flex-direction: row;

    h5 {
        margin-left: 15%;
        color: #617F98;
        font-weight: 400;
        font-size: 16px;
    }

}

.hr_tag {
    width: 95%;
    border-top: 1px solid #617F98;
    margin-bottom: 2%;
}

.cart_container {
    display: flex;
    flex-direction: row;
    margin-left: 90px;

    .img_cart_container {
        display: flex;
        flex-direction: row;
        margin: 5px;

        p {
            text-transform: capitalize;
        }
    }

    .price_cointainer {
        margin-left: 10%;
    }

    .card_toggle {
        display: flex;
        flex-direction: row;
        margin-left: 13%;

        button {
            width: 30px;
            height: 40px;
            margin-left: 10px;
            margin-right: 10px;
            border: none;
            background-color: transparent;
            font-size: 30px;

        }

    }

    .sub_total {
        margin-left: 14%;
    }

    .delet_container {
        margin-left: 16%;

    }
}

.fill_tag {
    font-size: 24px;
    color: #102A42;
    padding: 0% 13.42% 26.8% 13.42%;
    margin-left: 20%;

    Button {
        background-color: #AB7A5F;
        color: whitesmoke;
        border: none;
        padding: 10px 20px;
        margin-left: 20%;
        margin-top: -15%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #B99179;
            color: black;

        }
    }
}

.total_container {
    margin-left: 60%;
    width: 26%;
    height: fit-content;
    border: 1px solid #617F98;
    padding: 20px 40px;


    hr {
        border-top: 1px solid #617F98;
    }

}

.signin_button {
    border: none;
    margin-top: 1%;
    margin-bottom: 5%;
    background-color: #AB7A5F;
    color: whitesmoke;
    padding: 10px;
    margin-left: 60%;
    width: 32.5%;
    cursor: pointer;

    &:hover {
        background-color: #B99179;
        color: black;

    }

}

.continue_btn {
    border: none;
    background-color: #AB7A5F;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 2%;

}

.shop_btn {
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 68%;
    border: none;
    background-color: black;
    margin-bottom: 3%;

}

.color_btn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    margin: 4%;

}