.color_container {
    margin-top: 6%;

    .color_btn {
        border: none;
        border-radius: 100%;
        padding: 4px 1px 1px 1px;
        height: 15px;
        width: 15px;
        cursor: pointer;
        opacity: 0.6;
        margin: 2px;

        .color_btn span {
            display: none;
        }

        .label_content {
            color: #102A42;
            font-weight: bold;
        }

        .color_contant {
            display: flex;
            flex-direction: column;
        }

        .active {
            display: inline;
        }

    }

    .color_component {
        margin-top: 10px;
    }
}