.pic_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    height: 1944px;
    row-gap: 0px;
    column-gap: 28px;
    margin-bottom: 10%;
}

@media(max-width:768px) {
    .pic_container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 100%;
      
    }
}

.img_content {
    position: relative;
    width: 299px;
    height: 175px;

    &:hover {
        cursor: pointer;

        .layover {
            display: block;
        }

        .find_icon {

            display: block;
        }

    }

    .layover {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.288);
        width: 99.9%;
        height: 99.9%;
        z-index: 999;
    }

    .img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .find_icon {
        display: none;
        position: absolute;
        top: 42%;
        left: 47%;
        right: 50%;
        transform: translateX(-50%);
        transition: all 0.3ms ease-in-out;

        svg,
        path {
            color: aliceblue;
            background-color: #ab7a5f;
            padding: 10px;
            border-radius: 100%;
        }
    }
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    font-size: 18px;

    p {
        padding-left: 25%;
        color: #B67C64;

    }

    h5 {
        position: relative;
        color: #021831;
        font-size: 16px;
        font-weight: 300;
        text-transform: capitalize;
        white-space: nowrap;
        top: -6px;
    }
}