.company_container {
    margin-top: 5%;

    .label_content {

        font-weight: bold;
        color: #102A42;
        margin-top: 50px;

    }

    .select_component {
        margin-top: 2%;
        width: 25%;
        padding: 3px;
        

    }
}