.company_container {
    margin-top: 45%;

    .label_content {

        font-weight: bold;
        color: #102A42;
        margin-top: 50px;

    }

    .select_component {
        margin-top: 10%;
        width: 110%;
        padding: 5px;
        background-color:#F1F5F8;
        border: none;
        border-radius: 10%;


    }
}