.custom_continar {
    background-color: #EADED7;
    width: 100%;
    height: 450px;
    margin-bottom: 10%;

    .header_section {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-top: 30px;
        padding-bottom: 30px;

        h3 {
            color: #421a05;
            padding-left: 10%;
            font-size: 32px;
        }

        p {
            color: #ab7a5f;
            line-height: 200%;

        }
    }

    .services_continar {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        .services {
            width: 80%;
            text-align: center;
            background-color: #C5A491;
            height: 250px;
            padding: 50px 20px 20px 10px;

            span {

                width: 26px;
                height: 26px;
                background-color: #eaded7;
                color: #453227;
                padding: 20px;
                border-radius: 100%;
                justify-content: center;
                align-items: center;

            }

            h5 {
                color: #453227;
                font-size: 16px;
                font-weight: 100;
            }

            p {
                color: #453227;
                line-height: 200%;

            }

        }
    }

}