.Design_continar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;

    .design_content {
        width: 50%;
        margin-left: 5%;
        justify-content: center;
        padding-top: 7%;

        h1 {
            color: #102A42;
            font-size: 3rem;
        }

        p {
            color: #588494;
            word-spacing: 5px;
            line-height: 200%;
            text-align: left;
        }

        button {
            padding: 15px 40px;
            background-color: #AB7A5F;
            color: wheat;
            border: none;
            font-size: 18px;
            border-radius: 5%;
            transition: all 1s ease-in-out;
        }

        button:hover {
            background-color: #ecb08f;
            color: #361604;
            cursor: pointer;

        }

    }

    .design_pic {
        width: 50%;
        display: flex;
        flex-direction: row;
        padding-left: 16%;
        padding-top: 2%;


        .img_2 {

            position: absolute;
            bottom: 0;
            transform: translateX(-52%);


        }

        .img_3 {
            position: absolute;
            border-radius: 3px;
            width: 40px;
            height: 380px;
            background-color: #DECBC0;
            margin-top: 120px;
            transform: translateX(-100%);
        }

    }
}

@media (max-width: 768px) {
    .Design_continar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;

        .design_content {
            width: 100%;

            h1 {

                font-size: 3rem;
                width: 350px;
            }

            p {

                line-height: 100%;
                width: 350px;
                margin-left: 2%;
                font-size: 28px;
                text-align: justify;
                padding-left: 15%;
            }

            button {
                padding: 7px 15px;

            }
        }

        .design_pic {
            display: none;
        }
    }
}